body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #e7acaca5;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 50px;
  text-align: center;
  font-size: 60px;
}

h3 {
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  margin: 40px;
  text-align: center;
  font-size: medium;
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 15px;
  margin-left: 5px;
  margin-right: 50px;
  text-align: left;
  font-size: 11px;
  color: #942525;
}

h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 15px;
  margin-left: 325px;
  margin-right: 50px;
  text-align: left;
  font-size: 18px;
  color: #942525;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

#search-container {
  margin: 10px 0;
  text-align: center;
  margin-right: 20px;
  margin-left: 25px;
}

#search-container input {
  padding: 8px 12px;
  font-size: 14px;
  width: 275px;
  border-radius: 10px;
}

ol li {
  border: 1px solid #0b0404;
  width: 1055px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #de969698;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.list-box {
  width: 575px; 
  border: 1px solid #0b0404;
  height: 75px; 
  padding: 20px; 
  text-align: left;
  margin-left: 20p;
  line-height: 1.5; 
  font-family: Georgia, 'Times New Roman', Times, serif; 
  color: #000000;
  border-radius: 10px;
}

.list-box .title {
  margin: -35px 0 0 10px;
  background: #edc9c9;
  padding: 3px;
  display: inline-block;
  font-weight: bold;
  position: absolute;
}

.list-box .content {
  padding: 10px;
}

ol li:hover {
  background-color: #de9696c7;
}

.images img {
  width: 250px;
  margin: 5px;
  border-radius: 10px;
}

footer {
  margin-top: 30px;
  font-size: 0.9em;
  text-align: center;
}